---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}

// Sticky Masthead
.masthead {
  @include clearfix();
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  float: right;
  background-color: #252a34;
}

// Site Logo
@media only screen and (min-width: 1200px) {
  .site-logo {
    position: absolute;
    transform: scale(4);
    top: 3rem;
    left: -8em;
    border: 1px solid #252a34;
    border-radius: 50%;
  }
}

// Language Switch
li.masthead__menu-item > a.en,
li.masthead__menu-item > a.fr {
  text-transform: capitalize;
}

// No longer necessary as we only show the link to the other lang.
// li.masthead__menu-item > a.en:lang(en),
// li.masthead__menu-item > a.fr:lang(fr) {
//   font-weight: bold;
//   pointer-events: none;
//   text-decoration: underline;
// }

// Add padding to headers so that anchor links scroll correctly, avoiding the sticky header.
h1 {
  padding-top: 90px;
}

// Revert figcaption font to site default.
figcaption {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

figure > a.image-popup > img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
