---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Language Switch
li.masthead__menu-item > a.en,
li.masthead__menu-item > a.fr{
  text-transform: capitalize;
}

li.masthead__menu-item > a.en:lang(en),
li.masthead__menu-item > a.fr:lang(fr){
  font-weight: bold;
  pointer-events: none;
  text-decoration: underline;
}
